<div class="control-group" id="<%= attribute_id %>">
  <%= form.label attribute, label_text, { :class => "control-label" } %>
  <div class="controls">
    <%= form.check_box attribute, options %>
  </div>
</div>
