<div class="control-group" id="<%= attribute_id %>">
  <%= form.label attribute, label_text, { :class => "control-label" } %>
  <div class="controls">
    <%= form.password_field attribute, options.merge(:value => @item.send(attribute)) %>
  </div>
</div>
