<ul class="breadcrumb">
  <li><%= link_to "Dashboard", admin_dashboard_index_path %> <span class="divider">/</span></li>
  <li><a href="#">Middle page</a> <span class="divider">/</span></li>
  <li><a href="#">Another one</a> <span class="divider">/</span></li>
  <li class="active">You are here</li>
</ul>
