<%
  page_title = Typus::I18n.t("Sign in")
  admin_title(page_title)
%>

<%= form_for Typus.user_class_as_symbol,
             :url => { :action => :create, :return_to => params[:return_to] },
             :html => { :class => "form-stacked" } do |form| %>

  <%= render :partial => 'admin/account/form',
             :locals => { :form => form, :submit_text => "Sign in" } %>

<% end %>

<% if Typus.mailer_sender %>
  <% content_for :actions do %>
    <ul class="unstyled">
      <li><%= link_to Typus::I18n.t("Recover password"), forgot_password_admin_account_index_path %></li>
    </ul>
  <% end %>
<% end %>
