<div id="preview_<%= html_options['modal-id'] %>" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= attachment.name %></h3>
  </div>
  <div class="modal-body">
    <%= image_tag preview %>
  </div>
</div>
