<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">

    <% if actions.any? %>
      <% actions.each do |action| %>
        <% klass = action[:url][:action].eql?(params[:action]) ? "active" : "inactive" %>
        <li class="<%= klass %>">
        <%= link_to url_for(action[:url]) do %>
          <i class="icon-<%= action[:icon] %>"></i>
          <%= action[:message] %>
        <% end %>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>
