<%
  page_title = Typus::I18n.t("Forgot password")
  admin_title(page_title)
%>

<%= form_for Typus.user_class_as_symbol,
             :url => { :action => :send_password },
             :html => { :class => "form-stacked" } do |form| %>

  <%= render :partial => "form",
             :locals => { :form => form, :submit_text => "Submit" } %>

<% end %>

<% content_for :actions do %>
  <ul class="unstyled">
    <li><%= link_to Typus::I18n.t("I remember my password"), new_admin_session_path %></li>
  </ul>
<% end %>
